<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <title>loading</title>
  </head>
  <body>
    <div class="container-l">
      <span class="row-l-1"> Uploading... </span>
      <div class="row-l-2">
          <div class="spin"></div>
      </div>
    </div>
    
  </body>
</html>
